extends ../header.jade

block content
  .container
    h3 Special
    form(method="POST")
      .form-group
        label(for="id") ID
        input.form-control(type="text", name="id", id="id", value="#{entity.id}", disabled="disabled")
      .form-group
        label(for="name") Name
        input.form-control(type="text", name="name", id="name", value="#{entity.name}")
       .form-group
        label(for="proximity") Proximity
        select.form-control(type="text", name="proximity", id="proximity")
          option(value="") none
          if entity.proximity == 'IMMEDIATE'
            option(value="IMMEDIATE", selected="selected") IMMEDIATE
          else
            option(value="IMMEDIATE") IMMEDIATE
          if entity.proximity == 'NEAR'
            option(value="NEAR", selected="selected") NEAR
          else
            option(value="NEAR") NEAR
          if entity.proximity == 'FAR'
            option(value="FAR", selected="selected") FAR
          else
            option(value="FAR") FAR
      .form-group
        label(for="store") Store
        input.form-control(type="text", name="store", id="store", value="#{entity.store}", disabled="disabled")
      .form-group
        label(for="beacon") Beacon
        input.form-control(type="text", name="beacon", id="beacon", value="#{entity.beacon}")
      .form-group
        label(for="url") Image URL
        input.form-control(type="text", name="url", id="url", value="#{entity.url}")
      if entity.url
        .form-group
          img(src="#{entity.url}", alt="#{entity.name}", height="100")
      .form-group
        label(for="start") Start
        input.form-control(type="text", name="start", id="start", value="#{entity.start}")
      .form-group
        label(for="end") End
        input.form-control(type="text", name="end", id="end", value="#{entity.end}")
      .form-group
        label(for="active") Active
        if entity.active
          input.form-control(type="checkbox", style="width:34px;", name="active", id="active", checked="checked", disabled="disabled")
        if !entity.active
          input.form-control(type="checkbox", style="width:34px;", name="active", id="active", disabled="disabled")
      .form-group
        button.btn.btn-success(type="submit") Save
