include header.pug
include list-header.pug
.container.list-view
  .table.table-responsive
    table.table.table-striped.table-bordered
      include list-th.pug
          
      each beacon in beacons
        tr
          td.cbc
            input.list-selector(type="checkbox", data-for=beacon.id, onclick="listSelectorToggled()")
          td.filter(data-filter=`unique_id=${beacon.unique_id}`)
            a(href=`/beacons/${beacon.id}/edit`)= beacon.unique_id
          td.filter(data-filter=`alias=${beacon.alias}`)= beacon.alias
          td.filter(data-filter=`uuid=${beacon.uuid}`)= beacon.uuid
          td.filter(data-filter=`major=${beacon.major}`)= beacon.major
          td.filter(data-filter=`minor=${beacon.minor}`)= beacon.minor
          td.filter(data-filter=`store=${beacon.store}`)
            a(href=`/stores/${beacon.store}/edit`)= beacon.store_dv
          td.filter(data-filter=`active=${beacon.active}`)= beacon.active_dv
          td.filter-date(data-filter=`updated_on=${beacon.updated_on}`)= beacon.updated_on_dv

include list-footer.pug
        