include header.pug
include list-header.pug
.container.list-view
  .table.table-responsive
    table.table.table-striped.table-bordered
      include list-th.pug
        
      each impression in impressions
        tr
          td.cbc
            input.list-selector(type="checkbox", data-for=impression.id, onclick="listSelectorToggled()")
          td.filter-date(data-filter=`created_on=${impression.created_on}`)= impression.created_on_dv
          td.filter(data-filter=`store=${impression.store}`)
            a(href=`/stores/${impression.store}/edit`)= impression.store_dv
          td.filter(data-filter=`beacon=${impression.beacon}`)
            a(href=`/beacons/${impression.beacon_id}/edit`)= impression.beacon
          td.filter(data-filter=`special=${impression.special}`)
            a(href=`/specials/${impression.special}/edit`)= impression.special_dv
          td.filter(data-filter=`customer=${impression.customer}`)= impression.customer
          

include list-footer.pug
