extends ../header.jade

block content
  .container
    h3 User
    form(method="POST", encType="multipart/form-data")
      .form-group
        label(for="first_name") First name
        input.form-control(type="text", name="first_name", id="first_name", value=entity.first_name)
      .form-group
        label(for="last_name") Last name
        input.form-control(type="text", name="last_name", id="last_name", value=entity.last_name)
      .form-group
        label(for="user_name") Username
        input.form-control(type="text", name="user_name", id="user_name", disabled="disabled", value=entity.user_name)
      .form-group
        label(for="id") ID
        input.form-control(type="text", name="id", id="id", disabled="disabled", value=entity.id)
      .form-group
        label(for="email") Email
        input.form-control(type="text", name="email", id="email", value=entity.email)
      .form-group
        label(for="avatar") Upload new Avatar
        input.form-control(type="file", name="avatar", id="avatar")
      .form-group
        label(for="image") Avatar
        input.form-control(type="text", name="image", id="image", value=entity.image)
      if entity.image
        .form-group
          img(src="#{entity.image}", alt="Avatar", height="200")
      .form-group
        label(for="last_login") Last login
        input.form-control(type="text", name="last_login", id="last_login", disabled="disabled", value=entity.last_login)
      .form-group
        label(for="active") Active
        if entity.active
          input.form-control(type="checkbox", style="width:34px;", name="active", id="active", checked="checked", disabled="disabled")
        if !entity.active
          input.form-control(type="checkbox", style="width:34px;", name="active", id="active", disabled="disabled")
      .form-group
        label(for="locked_out") Locked out
        if entity.active
          input.form-control(type="checkbox", style="width:34px;", name="locked_out", id="locked_out", checked="checked", disabled="disabled")
        if !entity.active
          input.form-control(type="checkbox", style="width:34px;", name="locked_out", id="locked_out", disabled="disabled")
      .form-group
        label(for="password_needs_reset") Password needs reset
        if entity.active
          input.form-control(type="checkbox", style="width:34px;", name="password_needs_reset", id="password_needs_reset", checked="checked", disabled="disabled")
        if !entity.active
          input.form-control(type="checkbox", style="width:34px;", name="password_needs_reset", id="password_needs_reset", disabled="disabled")
      .form-group
        button.btn.btn-success(type="submit") Save
