extends ../header.jade

block content
  input(type="hidden", id="token", value="#{token}")
  
  .container-fluid
    .table.table-responsive
      table.table.table-striped.table-bordered
        tr
          th
            span.glyphicon.glyphicon-cog
          th Unique ID
          th Store
          th Location
          th UUID
          th Major
          th Minor
        
        each beacon in entities
          tr
            td
              input(type="checkbox")
            td
              a(href="/beacons/#{beacon.id}/edit")= beacon.unique_id
            td= beacon.store
            td= beacon.alias
            td= beacon.uuid
            td= beacon.major
            td= beacon.minor
            